nav.navbar.navbar-expand-lg.navbar-light
    .container
        a.navbar-brand(href="#")
            img.d-inline-block.align-top( src="./src/images/logo.svg" width="auto" height="30")
        </a>
        button.navbar-toggler(
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        )
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item.active
                    a.nav-link(href="#")
                        | O que fazemos 
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href="#") Como fazemos
                li.nav-item
                    a.nav-link(href="#") Cases
                li.nav-item
                    a.nav-link(href="#") Contato
