nav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
        a.navbar-brand(href="#hero")
            img.d-inline-block.align-top( src="images/logo-codevance.svg" width="auto" height="30")
        </a>
        button.navbar-toggler(
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        )
            i.fas.fa-bars(style="font-size: 30px;")
        </button>
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href="#what-we-do")
                        | O que fazemos 
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href="#how-we-do") Como fazemos
                li.nav-item
                    a.nav-link(href="#our-cases") Cases
                li.nav-item
                    a.nav-link(href="#talk-to-us") Contato
